.App {
  text-align: center;
  padding: 20px;
  background-color: lightcyan;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.cat-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
  margin-top: 20px;
}

.cat-photo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cat-photo-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.photo-info {
  margin-top: 5px;
  text-align: left;
  margin-bottom: 5px;
}